body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: .1rem;
}

.colorbox{
    background-color: rgba(0,0,0,.2);
    color:white; 
    padding:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}

.grid{
    color: white;
    display: flex;
    justify-content: space-between;
}

.color{
    width:30px;
    height:30px; 
    border-radius: 10%;
    outline:none;
    margin-right: .5rem;
}

.header{
    background-color: rgba(0,0,0,.9);
    text-align: center;
    color: whitesmoke;
    letter-spacing: .5rem;
    word-spacing: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    text-decoration: none;
}
.card{
    border-radius: .5rem;
    background-color: rgba(0,0,0,.9);
    padding: 2rem;
    margin-bottom: 3.5rem;
    width:100%;
}

.footer{
    background-color: rgba(0,0,0,.9);
    text-align: center;
    color: whitesmoke;
}

.but{
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 10%;
    cursor: pointer;
}



.link{
    background-color: rgba(0,0,0,.9);
    position: sticky;
    top: 0;
    z-index: 2;
    outline: none;
}

.copy{
    background-color: rgba(0,0,0,0.9);
    position: sticky;
    top: 3rem;
    z-index: 3;
    outline: none;
    color:white;
    padding-bottom: 2rem;
}

.icon{
    display: flex;
    justify-content:center;
    font-size: 1.25rem;
    margin-top: 2rem;
    letter-spacing: 2rem;
    margin-inline-start: 2rem;
    cursor: pointer;
}

.a{
    text-decoration: none;
    color: white;
}

.a:hover:nth-child(1){
    color: #00ffa6;
}
.a:hover:nth-child(2){
    color:#3b5998;
}
.a:hover:nth-child(3){
    color: #bc2a8d ;
}

.linki{
    text-decoration: none;
    color:white;
    padding-inline: 2rem;
    padding-bottom: 1rem;
}

.linkh{
    text-decoration: none;
    color:white;
}
.linkh:hover{
    color:white;
}


.linki:hover:nth-child(1){
    color: #00F5A0;

}
.linki:hover:nth-child(2){
    color: 	#78DBE2;

}

.linki:hover:nth-child(3){
    color:#df4ec6 ;
}

.car{
    margin-left: 1rem;
    font-size: small;
}

p{
    background-color: rgba(0,0,0,.2);
    text-align: center;
    padding-bottom: 1rem;
    color:white;
}

@media screen and (max-width:1200px) {
.color{
        width:20px;
        height:20px; 
        border:1px solid white; 
        border-radius: 10%;
        outline:none;
        margin-right: .1rem;
        font-size: 2px;
        
    }
    .out{
        transition: all .3s ease-in-out;
    } 

    .colors{
        font-size: 1rem;
        display:flex;
        flex-direction: column;

    }

    .grid{
        display: grid;
        grid-template-columns: auto;
        row-gap: .5rem;
    }
}
